p {
    width: 500px;

}

html {
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #e7b717;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #000000;
}
img {
    display: block;
    margin: 0 auto;
    height: 300px;
}

li {
    list-style-type: none;
    padding-left: 0;
}

